:root {
    --flex-gap: 20px;
}

.m-auto {
    margin: px auto;
}

.h-100px {
    height: 100px;
}

.max-w-30pc {
    max-width: 30%;
}

.max-w-40pc {
    max-width: 40%;
}

.max-w-50pc {
    max-width: 50%;
}

.max-w-60pc {
    max-width: 60%;
}

.max-w-65pc {
    max-width: 65%;
}

.max-w-70pc {
    max-width: 70%;
}

.max-w-80pc {
    max-width: 80%;
}

.max-w-90pc {
    max-width: 90%;
}

.max-w-100px {
    max-width: 100px;
}

.max-w-200px {
    max-width: 200px;
}

.max-w-300px {
    max-width: 300px;
}

.max-w-400px {
    max-width: 400px;
}

.max-w-500px {
    max-width: 500px;
}

.min-w-100px {
    min-width: 100px;
}

.min-w-150px {
    min-width: 150px;
}

.min-w-200px {
    min-width: 200px;
}

.min-w-300px {
    min-width: 300px;
}

.min-w-400px {
    min-width: 400px;
}

.min-w-500px {
    min-width: 500px;
}

.h-50pc {
    height: 50%;
}

.flex-warp {
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-h-full {
    height: calc(100vh - 100px);
}

.flex-gap-1px {
    gap: 1px;
}

.flex-gap-2px {
    gap: 2px;
}

.flex-gap-3px {
    gap: 2px;
}

.filter {
    gap: var(--flex-gap);
}

.w-15pc {
    width: 15%;
}

.w-25pc {
    width: 25%;
}

.w-35pc {
    width: 35%;
}

.w-45pc {
    width: 45%;
}

.w-55pc {
    width: 55%;
}

.w-65pc {
    width: 65%;
}

.w-75pc {
    width: 75%;
}

.w-85pc {
    width: 85%;
}

.w-95pc {
    width: 95%;
}

.w-10pc {
    width: 10%;
}

.w-20pc {
    width: 20%;
}

.w-30pc {
    width: 30%;
}

.w-40pc {
    width: 40%;
}

.w-50pc {
    width: 50%;
}

.w-60pc {
    width: 60%;
}

.w-70pc {
    width: 70%;
}

.w-80pc {
    width: 80%;
}

.w-90pc {
    width: 90%;
}
