.flex-warp {
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-h-full {
    height: calc(100vh - 100px);
}

.flex-gap-1px {
    gap: 1px;
}

.flex-gap-2px {
    gap: 2px;
}

.flex-gap-3px {
    gap: 2px;
}

.filter {
    gap: 20px;
}
