.m-auto {
    margin: px auto;
}

.h-25px {
    height: 25px;
}

.h-50px {
    height: 50px;
}

.h-75px {
    height: 75px;
}

.h-100px {
    height: 100px;
}

.h-400px {
    height: 400px;
}

.h-500px {
    height: 500px;
}

.h-600px {
    height: 600px;
}

.h-700px {
    height: 700px;
}

.h-800px {
    height: 800px;
}

.h-900px {
    height: 900px;
}

.h-1000px {
    height: 1000px;
}

.max-w-30pc {
    max-width: 30%;
}

.max-w-40pc {
    max-width: 40%;
}

.max-w-50pc {
    max-width: 50%;
}

.max-w-60pc {
    max-width: 60%;
}

.max-w-65pc {
    max-width: 65%;
}

.max-w-70pc {
    max-width: 70%;
}

.max-w-80pc {
    max-width: 80%;
}

.max-w-90pc {
    max-width: 90%;
}

.max-w-100px {
    max-width: 100px;
}

.max-w-200px {
    max-width: 200px;
}

.max-w-300px {
    max-width: 300px;
}

.max-w-400px {
    max-width: 400px;
}

.max-w-500px {
    max-width: 500px;
}

.min-w-100px {
    min-width: 100px;
}

.min-w-150px {
    min-width: 150px;
}

.min-w-200px {
    min-width: 200px;
}

.min-w-300px {
    min-width: 300px;
}

.min-w-400px {
    min-width: 400px;
}

.min-w-500px {
    min-width: 500px;
}

.min-w-600px {
    min-width: 600px;
}

.h-50pc {
    height: 50%;
}

.w-25px {
    width: 25px;
}

.w-50px {
    width: 50px;
}

.w-75px {
    width: 75px;
}

.w-100px {
    width: 100px;
}

.w-15pc {
    width: 15%;
}

.w-25pc {
    width: 25%;
}

.w-35pc {
    width: 35%;
}

.w-45pc {
    width: 45%;
}

.w-55pc {
    width: 55%;
}

.w-65pc {
    width: 65%;
}

.w-75pc {
    width: 75%;
}

.w-85pc {
    width: 85%;
}

.w-95pc {
    width: 95%;
}

.w-10pc {
    width: 10%;
}

.w-20pc {
    width: 20%;
}

.w-30pc {
    width: 30%;
}

.w-40pc {
    width: 40%;
}

.w-50pc {
    width: 50%;
}

.w-60pc {
    width: 60%;
}

.w-70pc {
    width: 70%;
}

.w-80pc {
    width: 80%;
}

.w-90pc {
    width: 90%;
}
